<ion-view view-title="Agendar hora">
  <ion-content>

    <div class = "list">


       <div class="row">
        Desea agendar una hora?
        <span ng-show="tieneHoraAgendada">
          Usted solo puede agendar una hora simultaneamente. Si desea otra hora, puede cancelar o reagendar la hora tomada.
        </span>
      </div>

      <button ng-show="!tieneHoraAgendada" class="button button-full" ui-sref="agendamiento_tomar_agenda">Agendar hora</button>

      <button ng-show="tieneHoraAgendada" class="button button-full" ui-sref="agendamiento_tomar_agenda">Ver hora agendada</button>

      <div class="row">
        Prefiero tomar un número
      </div>

      <button class="button button-full" ui-sref="agendamiento_tomar_numero">Tomar número</button>



    </div>

  </ion-content>
</ion-view>
