<ion-view view-title="Agendar hora o numero, menu principal">
  <ion-content>

    <div class = "list">


      <!-- Agenda -->


      <!-- Aun esta cargando la agenda -->

      <div class="row" ng-show="tieneHoraAgendada == 'OBTENIENDO'">
        <p><ion-spinner></ion-spinner> Iniciando agenda....</p>
      </div>

      <!-- Tiene hora agendada -->

      <div ng-show="tieneHoraAgendada == true">
        <div class="row">
          <p>Usted solo puede agendar una hora simultaneamente. Si desea otra hora, puede cancelar o reagendar la hora tomada.</p>
        </div>
        <button class="button bg-color-gris" ui-sref="agendamiento_ver_hora_agendada">Ver hora agendada</button>
      </div>

      <!-- No tiene hora agendada -->

      <div ng-show="tieneHoraAgendada == false">
        <div class="row">
          <p>Desea agendar una hora?</p>
        </div>
        <button class="button bg-color-verde" ui-sref="agendamiento_tomar_agenda">Agendar hora</button>
      </div>





      <!-- Toma de numero -->

      <div class="row">
        Prefiero tomar un número
      </div>

      <button class="button bg-color-celeste" ui-sref="agendamiento_tomar_numero">Tomar número</button>



    </div>

  </ion-content>
</ion-view>
