<ion-view view-title="Agendar hora">
  <ion-content>

    <label class="item item-input item-select">
      <div class="input-label">
        Motivo de atención
      </div>

      <select>
        <option selected="true" disabled="disabled">Seleccione su motivo</option>
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
        <option>Option 4</option>
        <option>Option 5</option>
        <option>Option 6</option>
        <option>Option 7</option>
        <option>Option 8</option>
        <option>Option 9</option>
        <option>Option 10</option>
        <option>Option 11</option>

      </select>
    </label>

    <div class="row">
      {{ mesAnio(selectedDate) }}
    </div>

    <div class="row">
      <div class="col text-center">

        <button class="button button-block" ng-click="openDatePicker()">
          <i class="icon ion-calendar"></i>
          <span ng-show="fechaSeleccionada == null">Seleccione día</span>
          <span ng-show="fechaSeleccionada != null">{{ fechaSeleccionada | date:'dd MMMM yyyy' }}</span>
        </button>
      </div>
    </div>
    <div class="row">
      <span ng-show="geoEstado == 'OBTENIENDO'"><ion-spinner></ion-spinner>Encontrando sucursales cercanas...</span>
      <span ng-show="geoEstado == 'FALLO'">No se pudo obtener sucursales cercanas <button class="button button-small" ng-click="obtenerSucursalesSugeridas()"><i class="icon ion-refresh"></i></button></span>
      <span ng-show="geoEstado == 'NO_HAY_SUCURSALES_CERCANAS'">No hay sucursales cercanas a su ubicación.</span>
      <span ng-show="geoEstado == 'EXITO'">

        <p>Las siguientes sucursales se encuentran cercanas a usted en este momento.</p>

        <ion-list>
          <ion-item collection-repeat="sucursal in sucursalesCercanas" class="item item-text-wrap item-borderless">
            <ion-radio ng-click="sucursalElegida.sucursal = sucursal" ng-value="sucursal">{{ sucursal.direccion }}</ion-radio>
            <button class="button button-small" ng-click="verMapa(sucursal)">Ver en mapa</button>
          </ion-item>
        </ion-list>
      </span>
    </div>



  </ion-content>
</ion-view>
