<ion-view view-title="Agendar hora">
  <ion-content>


    <!-- Motivo de atencion -->
    <label class="item item-input item-select">
      <div class="input-label">
        Motivo de atención
      </div>
      <select>
        <option selected="true" disabled="disabled">Seleccione su motivo</option>
        <option ng-repeat="motivo in motivosAtencion">{{ motivo.titulo }}</option>
      </select>
    </label>


    <!-- Calendario -->
    <div class="row">
      <div class="col text-center">
        <button class="button button-block" ng-click="openDatePicker()">
          <i class="icon ion-calendar"></i>
          <span ng-show="fechaSeleccionada == null">Seleccione día</span>
          <span ng-show="fechaSeleccionada != null">{{ fechaSeleccionada | date:'dd MMMM yyyy' }}</span>
        </button>
      </div>
    </div>


    <!-- Metodos de busqueda (cambiar entre geolocalizacion o manual) -->
    <div class="row">
      <button ng-show="usandoGeolocalizacion" ng-click="usarManual()" class="button button-positive"><i class="icon ion-search"></i> Buscar sucursal manualmente</button>
      <button ng-show="!usandoGeolocalizacion" ng-click="usarGeo()"class="button button-positive"><i class="icon ion-location"></i> Buscar sucursales cercanas</button>
    </div>

    <!-- Escoger sucursal por geolocalizacion -->
    <div class="row" ng-show="usandoGeolocalizacion">

        <div class="list" style="width: 100%;">

          <div class="item" ng-show="geoEstado == 'OBTENIENDO'">
            <ion-spinner></ion-spinner> Encontrando sucursales cercanas....</p>
          </div>

          <div class="item" ng-show="geoEstado == 'FALLO'">
            <p>No se pudo obtener sucursales cercanas <button class="button button-small" ng-click="obtenerSucursalesSugeridas()"><i class="icon ion-refresh"></i></button></p>
          </div>

          <div class="item" ng-show="geoEstado == 'NO_HAY_SUCURSALES_CERCANAS'">
            <p>No hay sucursales cercanas a su ubicación.</p>
          </div>

          <div ng-show="geoEstado == 'EXITO'" class="item item-text-wrap" ng-repeat="sucursal in sucursalesCercanas" style="padding: 5px 5px;">
            <ion-radio ng-click="sucursalElegida.sucursal = sucursal" ng-value="sucursal" style="border: 0px;">
              <p>{{ sucursal.direccion }}</p>
              <p><small>Horario abierto 9:00AM - 14:00PM</small></p>
            </ion-radio>
            <button class="button button-small" ng-click="verMapa(sucursal)"><i class="icon ion-location"></i> Ver en mapa</button>
          </div>
        </div>
    </div>

    <div class="row" ng-show="!usandoGeolocalizacion">

      <span>
        <p>Formulario para buscar manualmente</p>
        <p>Formulario para buscar manualmente</p>
        <p>Formulario para buscar manualmente</p>
        <p>Formulario para buscar manualmente</p>
        <p>Formulario para buscar manualmente</p>
        <p>Formulario para buscar manualmente</p>
      </span>
    </div>





  </ion-content>
</ion-view>
