<ion-view view-title="Agendar hora">
  
  <ion-content>


    <!-- Motivo de atencion -->
    <div ng-if="paso == 1">
      <!--<label class="item item-input item-select">
        <div class="input-label">
          Motivo de atención
        </div>
        <select ng-model="motivoAtencionSeleccionado.motivo">
          <option selected="true" disabled="disabled" value="">
            {{ motivosAtencion.length > 0 ? 'Seleccione su motivo' : 'Cargando...' }}
          </option>
          <option ng-repeat="motivo in motivosAtencion" ng-value="motivo.id">{{ motivo.name }}</option>
        </select>
      </label>-->
      <h3>
        Motivo de atención
      </h3>
      <ion-radio class="card" ng-model="motivoAtencionSeleccionado.motivo" ng-repeat="motivo in motivosAtencion" ng-value="motivo.id">
        <p>{{ motivo.name }}</p>
      </ion-radio>

      <!-- <button class="button button-block button-positive" ng-click="siguiente()">Siguiente</button> -->
      <button class="button" ng-click="siguiente()">Siguiente</button>
    </div>


    <!-- Calendario -->
    <div ng-if="paso == 2">
      <label class="item">
        <div class="col text-center">
          <!-- <button class="button button-block" ng-click="openDatePicker()"> -->
          <button class="button" ng-click="openDatePicker()">
            <i class="icon ion-calendar"></i>
            <span ng-show="fechaSeleccionada == null">Seleccione día</span>
            <span ng-show="fechaSeleccionada != null">{{ fechaSeleccionada | date:'dd MMMM yyyy' }}</span>
          </button>
        </div>
      </label>
      <!-- <button class="button button-block button-positive" ng-click="siguiente()">Siguiente</button> -->
      <button class="button" ng-click="atras()">Volver</button>
      <button class="button" ng-click="siguiente()">Siguiente</button>
    </div>

    <div ng-if="paso == 3">


      <!-- Metodos de busqueda (cambiar entre geolocalizacion o manual) -->
      <div class="row">
        <!-- <button ng-show="usandoGeolocalizacion" ng-click="usarManual()" class="button button-positive"><i class="icon ion-search"></i> Buscar sucursal manualmente</button>
        <button ng-show="!usandoGeolocalizacion" ng-click="usarGeo(false)"class="button button-positive"><i class="icon ion-location"></i> Buscar sucursales cercanas</button> -->
        <button ng-show="usandoGeolocalizacion" ng-click="usarManual()" class="button"><i class="icon ion-search"></i> Buscar sucursal manualmente</button>
        <button ng-show="!usandoGeolocalizacion" ng-click="usarGeo(false)"class="button"><i class="icon ion-location"></i> Buscar sucursales cercanas</button>
      </div>

      <!-- Escoger sucursal por geolocalizacion -->
      <div class="row" ng-show="usandoGeolocalizacion">

          <div class="list" style="width: 100%;">

            <div class="item" ng-show="geoEstado == 'OBTENIENDO'">
              <p><ion-spinner></ion-spinner> Encontrando sucursales cercanas....</p>
            </div>

            <div class="item" ng-show="geoEstado == 'FALLO'">
              <p>No se pudo obtener sucursales cercanas <button class="button button-small" ng-click="obtenerSucursalesSugeridas()"><i class="icon ion-refresh"></i></button></p>
            </div>

            <div class="item" ng-show="geoEstado == 'NO_HAY_SUCURSALES_CERCANAS'">
              <p>No hay sucursales cercanas a su ubicación.</p>
            </div>

            <div ng-show="geoEstado == 'EXITO'" class="item item-text-wrap sucursal-item" ng-repeat="sucursal in sucursalesCercanas">
              <ion-radio class="sucursal-radio" ng-model="sucursalElegida.sucursal" ng-value="sucursal">
                <p>{{ sucursal.full_address }}</p>
                <p><small>Horario abierto 9:00AM - 14:00PM</small></p>
              </ion-radio>
              <button class="button button-small" ng-click="verMapa(sucursal)"><i class="icon ion-location"></i> Ver en mapa</button>
            </div>
          </div>
      </div>



      <!-- Busqueda manual de sucursal -->

      <div ng-show="!usandoGeolocalizacion && regiones != null">

        <!-- Escoger la región -->
        <label class="item item-input item-select">
          <div class="input-label">
            Región
          </div>

          <!-- ng-change="..." es para que cuando cambie de region, se desmarque la sucursal que estaba elegida -->
          <select ng-model="ubicacion.regionSeleccionada" ng-options="region as region.region for region in regiones" ng-change="sucursalElegida.sucursal = null"></select>
        </label>

        <!-- Escoger la comuna -->
        <label class="item item-input item-select">
          <div class="input-label">
            Comuna
          </div>
          <!-- ng-change="..." es para que cuando cambie de comuna, se desmarque la sucursal que estaba elegida -->
          <select ng-model="ubicacion.comunaSeleccionada" ng-options="comuna.comuna for comuna in ubicacion.regionSeleccionada.comunas" ng-change="sucursalElegida.sucursal = null"></select>
        </label>

        <!-- Escoger la sucursal -->
        <div class="item item-text-wrap sucursal-item" ng-repeat="sucursal in ubicacion.comunaSeleccionada.sucursales">
          <ion-radio class="sucursal-radio" ng-model="sucursalElegida.sucursal" ng-value="sucursal">
            <p>{{ sucursal.address }}</p>
            <p><small>Horario abierto 9:00AM - 14:00PM</small></p>
          </ion-radio>
          <button class="button button-small" ng-click="verMapa(sucursal)"><i class="icon ion-location"></i> Ver en mapa</button>
        </div>
      </div>

      <!-- Busqueda manual de sucursal, cuando aun no ha cargado -->

      <div ng-show="!usandoGeolocalizacion && regiones == null">
        <p><ion-spinner></ion-spinner> Buscando sucursales disponibles....</p>
      </div>

      <!-- <button class="button button-block button-positive" ng-click="siguiente()">Siguiente</button> -->
      <button class="button" ng-click="atras()">Volver</button>
      <button class="button" ng-click="siguiente()">Siguiente</button>

    </div>

    <!-- Calendario -->
    <div ng-if="paso == 4">

      <p ng-if="tiemposLibres == null"><ion-spinner></ion-spinner> Por favor espere....</p>
      <p ng-if="tiemposLibres != null && tiemposLibres.length == 0">No hay tiempos libres para agendar. Pruebe otro dia.</p>

      <div ng-if="tiemposLibres != null && tiemposLibres.length > 0">

        <label class="item item-input item-select">
          <div class="input-label">
            Hora
          </div>
          <select ng-model="tiempoElegido.horaElegida" ng-options="hh as hh.hh for hh in tiemposLibres"></select>
        </label>

        <label class="item item-input item-select">
          <div class="input-label">
            Minuto
          </div>
          <select ng-model="tiempoElegido.minutoElegido" ng-options="mm for mm in tiempoElegido.horaElegida.mm"></select>
        </label>

        <button class="button" ng-click="atras()">Volver</button>
        <button class="button" ng-click="siguiente()">Siguiente</button>

      </div>
    </div>


    <div ng-if="paso == 5">

      <p>¿Están todos los datos correctos?</p>


      <div class="row">
          <div class="col col-20" style="text-align: right"><i class="icon ion-clock"></i></div>
          <div class="col">{{ todosDatos.hora | dosCeros }}:{{ todosDatos.minutos | dosCeros }}</div>
      </div>

      <div class="row">
          <div class="col col-20" style="text-align: right"><i class="icon ion-calendar"></i></div>
          <div class="col">{{ todosDatos.yyyy }}/{{ todosDatos.mm | dosCeros }}/{{ todosDatos.dd | dosCeros }}</div>
      </div>

      <div class="row">
          <div class="col col-20" style="text-align: right"><i class="icon ion-chatbox"></i></div>
          <div class="col">{{ todosDatos.motivo.name }}</div>
      </div>

      <div class="row">
          <div class="col col-20" style="text-align: right">Sucursal</div>
          <div class="col">{{ todosDatos.sucursal.full_address }}</div>
      </div>

      <button class="button" ng-click="atras()" ng-if="!agendando">Volver</button>
      <button class="button" ng-click="agendar()" ng-if="!agendando">Agendar</button>
      <button class="button" ng-click="agendar()" ng-if="agendando" disabled>Espere...</button>






    </div>


  </ion-content>
</ion-view>
