<ion-view view-title="Ver hora agendada">


  <!-- -->

  <ion-content ng-show="estado == 'EXITO'">

    <div ng-show="horaAgendada != null">
      <div class="row">
          <div class="col col-20" style="text-align: right"><i class="icon ion-clock"></i></div>
          <div class="col">{{ horaAgendada.time | date:'HH:mm' }}</div>
      </div>

      <div class="row">
          <div class="col col-20" style="text-align: right"><i class="icon ion-calendar"></i></div>
          <div class="col">{{ horaAgendada.time | date:'dd MMMM yyyy' }}</div>
      </div>

      <div class="row">
          <div class="col col-20" style="text-align: right">Sucursal</div>
          <div class="col">{{ horaAgendada.executive.branch_office.address }}</div>
      </div>

      <div class="row">
          <div class="col col-20" style="text-align: right">Lugar</div>
          <div class="col"><button class="button" ng-click="verMapa()"><i class="icon ion-location"></i> Ver Mapa</button></div>
      </div>

    </div>

    <div class="bar bar-footer">
      <button class="button button"><i class="icon ion-calendar"></i> Reagendar</button>
      <button class="button button-assertive" ng-click="eliminarMiHora()"><i class="icon ion-close"></i> Eliminar</button>
    </div>
  </ion-content>

  <ion-content ng-show="estado == 'OBTENIENDO'">
    <p><ion-spinner></ion-spinner> Cargando hora agendada....</p>
  </ion-content>

  <ion-content ng-show="estado == 'ELIMINANDO'">
    <p><ion-spinner></ion-spinner> Eliminando hora....</p>
  </ion-content>

</ion-view>
