<ion-view view-title="App base">
   <ion-content>

     <p>Esta vista corresponde a la aplicacion base de movistar. Esta vista no se debe transferir a la aplicacion.</p>

     <p>Para usar esta aplicación debe ingresar la ID de su usuario (cliente), la cual servirá como un "login falso" para
     ser usado por la aplicación. Esto debe reemplazarse por un login real en la aplicación final.</p>

     <div class = "list">
        <label class = "item item-input item-stacked-label">
           <input type = "text" placeholder = "ID de usuario a utilizar" ng-model="form.clientId"/>
        </label>

        <button class = "button bg-color-verde" ng-click="login()">Ingresar</button>

        <p ng-if="currentUser == null">No esta logueado.</p>
        <p ng-if="currentUser != null">Esta utilizando un login falso usando la ID de cliente {{ currentUser }}.</p>
     </div>

     <a ui-sref="agendamiento">Ir a vista de agenda y toma de numero</a>

   </ion-content>
</ion-view>
