
/* === DESCARGA DE FUENTE DE TELEFONICA === */
@font-face {
  font-family: "Telefonica_bold";
  src: url("base/fonts/TelefonicaWeb-Bold.eot");
  src: url("base/fonts/TelefonicaWeb-Bold.eot?#iefix") format("embedded-opentype"), url("base/fonts/TelefonicaWeb-Bold.woff") format("woff"), url("base/fonts/TelefonicaWeb-Bold.ttf") format("truetype"), url("base/fonts/TelefonicaWeb-Bold.svg#movistar_textregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Telefonica_xlight";
  src: url("base/fonts/TelefonicaWeb-ExtraLight.eot");
  src: url("base/fonts/TelefonicaWeb-ExtraLight.eot?#iefix") format("embedded-opentype"), url("base/fonts/TelefonicaWeb-ExtraLight.woff") format("woff"), url("base/fonts/TelefonicaWeb-ExtraLight.ttf") format("truetype"), url("base/fonts/TelefonicaWeb-ExtraLight.svg#movistar_textregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Telefonica_hand";
  src: url("base/fonts/TelefonicaWeb-Hand.eot");
  src: url("base/fonts/TelefonicaWeb-Hand.eot?#iefix") format("embedded-opentype"), url("base/fonts/TelefonicaWeb-Hand.woff") format("woff"), url("base/fonts/TelefonicaWeb-Hand.ttf") format("truetype"), url("base/fonts/TelefonicaWeb-Hand.svg#movistar_textregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Telefonica_light";
  src: url("base/fonts/TelefonicaWeb-Light.eot");
  src: url("base/fonts/TelefonicaWeb-Light.eot?#iefix") format("embedded-opentype"), url("base/fonts/TelefonicaWeb-Light.woff") format("woff"), url("base/fonts/TelefonicaWeb-Light.ttf") format("truetype"), url("base/fonts/TelefonicaWeb-Light.svg#movistar_textregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Telefonica";
  src: url("base/fonts/TelefonicaWeb-Regular.eot");
  src: url("base/fonts/TelefonicaWeb-Regular.eot?#iefix") format("embedded-opentype"), url("base/fonts/TelefonicaWeb-Regular.woff") format("woff"), url("base/fonts/TelefonicaWeb-Regular.ttf") format("truetype"), url("base/fonts/TelefonicaWeb-Regular.svg#movistar_textregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Telefonica_italic";
  src: url("base/fonts/TelefonicaWeb-RegularItalic.eot");
  src: url("base/fonts/TelefonicaWeb-RegularItalic.eot?#iefix") format("embedded-opentype"), url("base/fonts/TelefonicaWeb-RegularItalic.woff") format("woff"), url("base/fonts/TelefonicaWeb-RegularItalic.ttf") format("truetype"), url("base/fonts/TelefonicaWeb-RegularItalic.svg#movistar_textregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* === CLASES === */

.sucursal-item {
  padding: 5px 5px;
}

.sucursal-radio {
  border: 0px;
}

.regular{
  font-family: "Telefonica",Arial,sans-serif;
}

.bold{
  font-family: "Telefonica_bold",Arial,sans-serif;
}

.hand{
  font-family: "Telefonica_hand",Arial,sans-serif;
}

.italic{
  font-family: "Telefonica_italic", Arial, sans-serif;
}

.fontsize-h2-low{
  font-size: 40px;
}


.color-celeste-claro{ color: #66cbec !important; }
.color-celeste{ color: #33bae6 !important; }
.color-celeste-oscuro{ color: #00A9E0 !important; }

.color-verde-claro{ color: #9ddc66 !important; }
.color-verde{ color: #7cd133 !important; }
.color-verde-oscuro{ color: #5BC500 !important; }

.color-gris-claro{ color: #D3D4D3 !important; }
.color-gris{ color: #B6B7B7 !important; }
.color-gris-oscuro{ color: #86888C !important; }

.color-morado-claro{ color: #caa5cb !important; }
.color-morado-oscuro{ color: #954B97 !important; }

.color-rosado-claro{ color: #f4a1b6 !important; }
.color-rosado-oscuro{ color: #E9426D !important; }

.color-naranjo-claro{ color: #f6b49c !important; }
.color-naranjo-oscuro{ color: #EC6839 !important; }

.color-amarillo-claro{ color: #face80 !important; }
.color-amarillo-oscuro{ color: #F59C00 !important; }

.bg-color-celeste{ background-color: #00A9E0 !important;}
.bg-color-verde{ background-color: #5BC500 !important;}
.bg-color-gris{ background-color: #86888C !important;}

.bg-color-neutro{ background-color: #FFFFFF !important;}

.ionic_datepicker_modal .footer,
.ionic_datepicker_modal .header,
.ionic_datepicker_modal .button-clear{
  background-color: #00A9E0 !important;
}

.ionic_datepicker_modal .selected_date{
  background-color: #5BC500 !important;
}

.item-radio input:checked + .radio-content .item-content{
  background: #9ddc66 !important;
}

.ionic_datepicker_modal .button-clear{
  color: #FFFFFF !important;
}

.ionic_datepicker_modal .today{
  border: 1px solid #00A9E0 !important;
}

.ionic_datepicker_modal .month_select, .ionic_datepicker_modal .year_select{
  border-bottom: 1px solid #00A9E0 !important;
}

.ionic_datepicker_modal .month_select:after,
.ionic_datepicker_modal .year_select:after,
.item-radio input:checked + .radio-content .radio-icon{
  color: #00A9E0 !important;
}


/* === ELEMENTOS ===*/

h1 {
  font-family: "Telefonica_xlight";
  font-size: 50px;
}

h2 {
  font-family: "Telefonica";
  font-size: 44px;
}

h3 {
  font-family: "Telefonica";>
  font-size: 24px;
}

p {
  font-family: "Telefonica";>
  font-size: 12px;
}

a {
  font-family: "Telefonica_bold",Arial,sans-serif;
}

.button {
  font-family: "Telefonica";
  background-color: #00A9E0;
  color: #FFFFFF;
  margin: 5px;
  font-size: 13px;
  height: 45px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
}

button.button-block, button.button-full, .button-full > button.button, input.button.button-block{
    width: 97%;
}

.card{
  margin: 1px;
}

.button_card {
  background-color: #FFFFFF;
  height: 70px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
}

.button_card a{
  color: #000000;
  bottom: 0;
  left: 0;
}

.button_card a h3,.button_card a p{
  margin: 0;
  margin-right: 20px;
}

.button_card .radio-icon::before{
  right: 20px;
  position: absolute;
}

.back_header{
  margin-left: 10px;
  font-size: 35px;
  position: absolute;
  left: 10px;
  top: -20px;
}

.button:hover {
  color: #FFFFFF;
  text-decoration: none; }

.button.active, .button.activated {
  border-color: #B6B7B7;
  background-color: #D3D4D3; }

.popup-buttons .button-default{
  background-color: #B6B7B7;
}

/* Esta clase es para eliminar el cuadro plomo https://forum.ionicframework.com/t/an-annoying-little-square-on-android-devices/59529 */
.scroll-content{
    overflow-y:auto;
}
